@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #E18929, #F5B571);
    background-attachment: fixed;
}

main {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #86633dad;
    max-width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #027CA8;
    text-align: center;
    text-shadow: 1px 1px 2px #024963ad;
}

h2 {
    color: #1BBBF5;
}

p {
    text-align: justify;
}
